.header {
    display: flex;
    /* 左右に分ける */
    justify-content: space-between;
    /* 左右端に配置 */
    align-items: center;
    /* 縦方向中央揃え */
    padding: 0 30px;
    height: 80px;
    /* ヘッダー高さ固定 */
    color: #fbacff;
    font-size: 35px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.header__inner {
    line-height: 1;
    /* 文字の上下余白リセット */
}

.header__nav {
    display: flex;
    /* 横並び */
    gap: 10px;
    align-items: center;
    /* ボタン縦中央揃え */
}

/* aタグ・button共通 */
.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: normal;
    border: 2px solid #C0C0C0;
    background-color: #EAEAEA;
    color: black;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 6px;
}

/* フォームリセット */
.logout-form {
    margin: 0;
}

/* logout buttonリセット */
.logout-form button {
    all: unset;
    /* デフォルトスタイルリセット */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: normal;
    border: 2px solid #C0C0C0;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    border-radius: 6px;
}

